* {
	box-sizing: border-box;
}

section {
	background-color: #f5f5f5;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 36px;
}

.menu_container {
	margin-left: 20%;
	margin: 0px;
	overflow: hidden;
	padding: 20px;
}

.menu_item_container {
	float: left;
	width: 33.3%;
	padding: 5px;
}

.menu_item {
	border: 1px solid black;
	position: relative;
}	

.menu_item_title {
	width: 150px;
	height: 20px;
	position: absolute;
	top: -1px;
	right: -1px;
	text-align: center;
	font-weight: bold;
	padding-right: 3px;
	color: white;
	border: 1px solid black;

}

.menu_item_content {
	padding: 10px;
}

.dish_chicken .menu_item {
	background-color: moccasin;
}
.dish_beef .menu_item{
	background-color: peachpuff;
}
.dish_fish .menu_item{
	background-color: lightblue;
}

.dish_chicken .menu_item_title {
	background-color: #ecd190;
}
.dish_beef .menu_item_title{
	background-color: red;
}
.dish_fish .menu_item_title{
	background-color: blue;
}

.menu_item {

	padding-top: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.menu_item_container{
		width: 50%;
	}
	.dish_fish {
		clear: both;
		width: 100%;
	}
}

@media (max-width: 767px) {

	.menu_item_container {
	clear: both;
	padding: 5%;
	margin: 0px;
	width:90%
	}
}